<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>ShowFoundTrainsServlet</servlet-name>
    <servlet-class>servlets.ShowFoundTrainsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowRouteServlet</servlet-name>
    <servlet-class>servlets.ShowRouteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowTimetableServlet</servlet-name>
    <servlet-class>servlets.ShowTimetableServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowAllTrainsServlet</servlet-name>
    <servlet-class>servlets.ShowAllTrainsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddStationServlet</servlet-name>
    <servlet-class>servlets.AddStationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddTrainServlet</servlet-name>
    <servlet-class>servlets.AddTrainServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuyTicketServlet</servlet-name>
    <servlet-class>servlets.BuyTicketServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowRunServlet</servlet-name>
    <servlet-class>servlets.ShowRunServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowPassengerServlet</servlet-name>
    <servlet-class>servlets.ShowPassengerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddRunServlet</servlet-name>
    <servlet-class>servlets.AddRunServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFoundTrainsServlet</servlet-name>
    <url-pattern>/showtrain</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowRouteServlet</servlet-name>
    <url-pattern>/route</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowTimetableServlet</servlet-name>
    <url-pattern>/timetable</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowAllTrainsServlet</servlet-name>
    <url-pattern>/alltrains</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddStationServlet</servlet-name>
    <url-pattern>/addstation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTrainServlet</servlet-name>
    <url-pattern>/addtrain</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyTicketServlet</servlet-name>
    <url-pattern>/buyticket</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowRunServlet</servlet-name>
    <url-pattern>/run</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowPassengerServlet</servlet-name>
    <url-pattern>/passenger</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddRunServlet</servlet-name>
    <url-pattern>/addrun</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filters.LoginFilter</filter-class>
    <init-param>
      <param-name>admin</param-name>
      <param-value>/protected/AddStation.jsp, /protected/AddTrain.jsp, /protected/ShowAllTrains.jsp, /protected/BuyTicket.jsp, /protected/ShowRun.jsp, /protected/ShowPassenger.jsp, /protected/AddRun.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>employee</param-name>
      <param-value>/protected/AddStation.jsp, /protected/AddTrain.jsp, /protected/ShowAllTrains.jsp, /protected/BuyTicket.jsp, /protected/ShowRun.jsp, /protected/ShowPassenger.jsp, /protected/AddRun.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>client</param-name>
      <param-value>/protected/BuyTicket.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/protected/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>showtrain</welcome-file>
  </welcome-file-list>
</web-app>